::-moz-selection {
    background-color: $primary;
    color: $white;
}
::selection {
    background-color: $primary;
    color: $white;
}

::-webkit-input-placeholder {
    color:    #777777;
    font-weight: 300;
}
:-moz-placeholder {
   color:    #777777;
   opacity:  1;
   font-weight: 300;
}
::-moz-placeholder {
   color:    #777777;
   opacity:  1;
   font-weight: 300;
}
:-ms-input-placeholder {
   color:    #777777;
   font-weight: 300;
}
::-ms-input-placeholder {
   color:    #777777;
   font-weight: 300;
}

.p1-gradient-bg {
  background-image: -moz-linear-gradient( 0deg, $dark-primary 0%, $primary 100%);
  background-image: -webkit-linear-gradient( 0deg, $dark-primary 0%, $primary 100%);
  background-image: -ms-linear-gradient( 0deg, $dark-primary 0%, $primary 100%);
}

.p1-gradient-color {
  background: -moz-linear-gradient( 0deg, $dark-primary 0%, $primary 100%);
  background: -webkit-linear-gradient( 0deg, $dark-primary 0%, $primary 100%);
  background: -ms-linear-gradient( 0deg, $dark-primary 0%, $primary 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
