.navbar-brand {
    width: $logo-width;
    height: $logo-height;
    background-image: $logo;
    background-size: $logo-background-size;
    background-repeat: no-repeat;
    text-indent: -9999em;
}

.navbar-transparent {
    background-color: $navbar-bg-transparent;
}

.nostick {
    background-color: $navbar-default-bg !important;
}
