.tns img {
    max-height: $slider-img-height;
    height: $slider-img-height;
}

.tns-outer {
    width: 100%;
}

body {
    overflow-x: hidden;
}

.tns-item {
    padding: 0;
}

.js #gallery .tns > div {
    max-width:100% !important;
    width: auto !important;
}
