$primary-font	: 'Poppins', sans-serif;

// Use: https://www.materialpalette.com/brown/deep-orange
$primary	      : #1fa67a;
$light-primary    : #e8f5e9;//#DCEDC8;
$dark-primary     : #1a8d67;//#689F38;
$secondary        : #FFC107;

$footer-background-color : #222;
$slider-img-height: 300px;

$white			: #fff;

// Bootstrap Variables

//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;


$font-family-base: $primary-font;
$body-color: #777777;
$font-weight-base: 300;
$line-height-base: 1.625;

$btn-padding-y: 0;
$btn-padding-x: 40px;
$btn-line-height: 40px;
$btn-border-radius: 20px;
$btn-font-size: .8em; // Marchera à la prochaine MàJ de bootstrap en attendant :
.btn {font-size: .8em !important; color:#fff;}
//.btn-primary, .btn-secondary, .btn-light { color: #fff !important }

//$headings-margin-bottom: 0;
// $headings-line-height: 1.2em;
// $headings-font-weight: 600;
$headings-color	: #222222;

// http://typecast.com/images/uploads/modernscale.css

// End boostrap variable
