$font-family-base: 'Poppins', sans-serif !default;


$primary          : #1fa67a !default;
$light-primary    : #e8f5e9 !default;
$dark-primary     : #1a8d67 !default;
$secondary        : #FFC107 !default;
$white            : #fff    !default;

$footer-background-color : #353535 !default;
$footer-color            : #fff !default;
$footer-block-color-a    : #fff !default;
$footer-block-padding-top: 40px !default;
$extra-footer-color-a       : darken($footer-background-color, 40%);
$extra-footer-color         : darken($footer-background-color, 40%);

$navbar-bg: transparent !default;
$navbar-bg-nostick: rgba(0,0,0,.5) !default;

$slider-img-height: 300px !default;

$logo: url('../img/logo.png') !default;
$logo-width: 150px !default;
$logo-height: 50px !default;

//
// =Bootsrap customization
// --------------------------------------------------

//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;


$body-color: #777777 !default;
$font-weight-base: 300 !default;
$line-height-base: 1.625 !default;

$btn-padding-y: 0 !default;
$btn-padding-x: 40px !default;
$btn-line-height: 40px !default;
$btn-border-radius: 20px !default;
$btn-font-size: .8em !default;
$btn-font-weight: 700 !default;

$headings-color	: #222222 !default;


