$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;//'Poppins', sans-serif !default;


$primary          : #1fa67a !default;
$light-primary    : #e8f5e9 !default;
$dark-primary     : #1a8d67 !default;
$secondary        : #FFC107 !default;
$white            : #fff    !default;

$footer-background-color : #353535 !default;
$footer-color            : #fff !default;
$footer-block-color-a    : #fff !default;
$footer-block-padding-top: 40px !default;
$extra-footer-color-a    : #fff; //darken($footer-background-color, 40%);
$extra-footer-color      : #fff; //darken($footer-background-color, 40%);
$extra-footer-font-size  : 14px;


$slider-img-height: 300px !default;

$logo: url('../img/logo.png') !default;
$logo-width: 50px !default;
$logo-height: 50px !default;
$logo-background-size: contain !default;
$navbar-height: $logo-height + 16px !default;
$navbar-expand: 992px !default; // lg
$navbar-padding-y:                  8px !default;
$navbar-padding-x:                  15px !default;
$navbar-item-uppercase:             false !default;
$navbar-default-bg: rgba(0,0,0,.8) !default;
$navbar-bg: $navbar-default-bg !default; // to remove in next release
$navbar-bg-stick: transparent !default;
$hamburger-color: #fff !default;
$navbar-bg-transparent:  rgba(0,0,0,.1) !default;
$navbar-height-on-small-screen: 60px !default;
$logo-width-on-small-screen: 40px !default;
$logo-height-on-small-screen: 40px !default;

$container-txt-max-width: 720px !default;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1380px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl:1320px
) !default;

// Hero Banner
// -----------

$fullscreen-min-height: 100vh;
$halfscreen-min-height: 600vh;

//
// =Bootsrap customization
// --------------------------------------------------

//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;


$body-color: #777777 !default;
//$font-weight-base: 300 !default;
//$line-height-base: 1.625 !default;

$btn-padding-y: 0 !default;
$btn-padding-x: 40px !default;
$btn-line-height: 40px !default;
$btn-border-radius: 20px !default;
$btn-font-size: .8em !default;
$btn-font-weight: 700 !default;

$headings-color	: #222222 !default;

$grid-gutter-width: 24px !default;
