//
// =Constants
// --------------------------------------------------
@import "theme/variables";

//
// =Bootstrap
// --------------------------------------------------
@import "custom-bootstrap";

//
// =Plugins
// --------------------------------------------------
@import "~baguettebox.js/dist/baguetteBox.min.css";

@import "~tiny-slider/src/tiny-slider";
@import "theme/slider";

@import "theme/fontello"; // Replace all symbols used by https://tutorialzine.com/2014/12/you-dont-need-icons-here-are-100-unicode-symbols-that-you-can-use

//
// =Global
// --------------------------------------------------
@import "~piedweb-tyrol-free-bootstrap-4-theme/src/scss/theme/init";
@import "theme/init";
@import "~piedweb-tyrol-free-bootstrap-4-theme/src/scss/theme/spacer";
@import "theme/switches";

//
// =Block
// --------------------------------------------------
@import "theme/navbar";
@import "theme/reservation";
@import "theme/faq";
@import "theme/contact";
@import "theme/footer";
@import "theme/hero-banner";
@import "theme/hero-video";
@import "theme/nice-select";
@import "theme/tunnel";
@import "~piedweb-tyrol-free-bootstrap-4-theme/src/scss/theme/cookie-rgpd";
@import "theme/mcard";
@import "~piedweb-tyrol-free-bootstrap-4-theme/src/scss/theme/hamburger";
@import "~piedweb-tyrol-free-bootstrap-4-theme/src/scss/theme/masonry";
@import "~piedweb-tyrol-free-bootstrap-4-theme/src/scss/theme/gallery";

.container-xxl {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
